.date-range-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    max-width: 100%;
    margin: 10px auto;
}

.date-picker-input {
    border: none;
    background-color: #1e1e1e;
    color: #fff;
    /* padding: 10px; */
    border-radius: 5px;
    font-size: small;
    width: 100px;
    text-align: center;
}

.date-range-separator {
    margin: 0 10px;
    font-size: 16px;
    color: #5C6AF5;
}

.react-datepicker__header {
    background-color: #5C6AF5;
    border-bottom: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
    background-color: #5C6AF5;
    color: #fff;
}

.react-datepicker__day--keyboard-selected {
    background-color: #5C6AF5;
}

.react-datepicker__day--in-range {
    background-color: #121212;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
    color: #fff;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    filter: invert(1);
}